@import url('./tailwinds.css');
@import url('./animation.css');
@import url('./theme.css');
@import 'tailwindcss';

::view-transition-old(*) {
  animation: circle 0.5s ease-in-out;
  mix-blend-mode: normal;
}

::view-transition-old(*) {
  animation: circle 0.5s ease-in-out;
  mix-blend-mode: normal;
}
