@import url('./tailwinds.css');
@import url('./animation.css');
@import url('./theme.css');

::view-transition-old(*) {
  animation: circle-back 0.5s ease-in-out;
  mix-blend-mode: normal;
}
::view-transition-new(*) {
  animation: circle 0.5s ease-in-out;
  mix-blend-mode: normal;
}
