@theme {
  --color-primary: var(--primary);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary: var(--secondary);
  --color-info: var(--info);
  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-error: var(--error);
}

:root {
  --background: #ffffff;
  --foreground: ##f0f0f0;
  --primary: #1c2530;
  --secondary: #505962;
  --info: #8be9fd;
  --success: #50fa7b;
  --warning: #f1fa8c;
  --error: #ff5555;

  color-scheme: light;
}

:root.dark {
  --background: #23262f;
  --foreground: #393d4d;
  --primary: #f7f7f1;
  --secondary: #c7c7c6;
  --info: #8be9fd;
  --success: #50fa7b;
  --warning: #f1fa8c;
  --error: #ff5555;

  color-scheme: dark;
}
