:root {
  --background: #ffffff;
  --foreground: #1f2937;
  --primary: #6c4c9e;
  --secondary: #ff5792;
  --secondary-content: #fff0f5;
  --accent: #40b9c4;
  --neutral: #2b3440;
  --neutral-content: #d7dde4;
  --info: #8be9fd;
  --success: #50fa7b;
  --warning: #f1fa8c;
  --error: #ff5555;
}

.dark {
  --background: #282a36;
  --foreground: #f8f8f2;
  --primary: #ff79c6;
  --secondary: #bd93f9;
  --secondary-content: #f8f8f2;
  --accent: #ffb86c;
  --neutral: #414558;
  --neutral-content: #d7dde4;
  --info: #8be9fd;
  --success: #50fa7b;
  --warning: #f1fa8c;
  --error: #ff5555;
}
